.login{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginForm{
    display: flex;
    flex-direction: column;
}
.loginInput {
    margin-bottom: 10px;
    width: 400px;
    padding: 10px;
}
.loginButton{
    background-color: teal;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}